<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Practica_tercer_trimestre.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Practica_tercer_trimestre.Properties.Settings.Conexion"
            connectionString="Data Source=Elias_Noelia;Initial Catalog=Control;User ID=Elias_Noelia;Password=juanxxiii"
            providerName="System.Data.SqlClient" />
        <add name="Practica_tercer_trimestre.Properties.Settings.TiendaVideojuegosConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\TiendaVideojuegos.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Practica_tercer_trimestre.Properties.Settings>
            <setting name="v" serializeAs="String">
                <value>False</value>
            </setting>
        </Practica_tercer_trimestre.Properties.Settings>
    </userSettings>
</configuration>